body{
    background-color: black;
}
header{
    padding: 0;
    margin: 0;
    height: 50%;
    background-color: #fff;
    width: 100%;
}
.cabecera .linea{
    position: absolute;
    top: 1em;
    width: 80%;
    right: 0%;
}
.logo{
    padding-top: 0.5%;
    width: 20%;
    height: 5%;
    position: relative;
    top: 1%;
    float: left;
}
.logo img{
    width: 100%;
    height: 100%;
}
.redess{
    padding: 1%;
    float: right;
    position: flex;
    right: 0%;
    top: 1%;
    width: 80%;
    text-align: right;
    border-bottom: 1px solid #fff;
}
.redess img{
    width: 5%;
    height: 5%;
    margin-right: 5%;
}
.contenedor{
    padding: 0 auto;
    margin: 0 auto;
    position: relative;
    padding-top: 10%;
    margin-left: 25%;
    width: 50%;
    height: 50%;
    background-color: #fff;
}
input:invalid{
    border-color: red;
}
.tooltip {
	display: none;
	position: absolute;
	width: auto;
	max-width: 350px;
	padding: 5px;
	z-index: 100;
	color: #fff;
	text-align: center;
	/*font-weight: bold;*/
	font-size: 11px;
	border-radius: 5px;
	height: auto;
	box-shadow: 1px 2px 5px #000;
	/*text-shadow: #00F;*/
	background-color: rgba(51,51,51,1);
}