@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    font-family: 'Actor', sans-serif;
    background: rgb(22, 24, 27);
    
     }

.contenedor-madre{
    padding-top: 95px;
    padding-left: 0;
    padding-right:0 ;
    padding-bottom: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../img/iniciasesion.png'); 
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
.contenedor-login{
    
    padding: 5px 0;
    width: 60%;
    height: 70%;
    background-color: rgba(31, 33, 37, 0.849);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center; 
    border-radius: 15px;
    
}  
.contenedor-login h2{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 35px;
    color: #fff;
}
.datos{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #fff;
    width: 300px;
    padding: 50px 0;

}
.correo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
}
.clave{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.datos input{
height:18px ;
background-color: #1F2125;
color: #fff;
border: none; 
border:solid 1px #FF9100;
border-radius: 3px;
font-size: 15px;
}
.contenedor-login h3{
    font-size: 18px;
    font-weight: bold;
    color: #1F2125;
    background-color: #FF9100;
    border-radius: 5px;
    width: 120px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.contenedor-login a{
    font-size: 20px;
    cursor: pointer;
    color: #FDB806;
    padding-top: 30px ;
    font-weight: bold;
}
.contenedor-login .flecha{
    padding-top: 20px;
    
}
.contenedor-login .flecha img{
    width: 34px;
    height: 34px; 
}
/*ESTILOS PARA EL TELEFONO*/
@media (max-width: 780px){
    .contenedor-madre{
    background-image: url('../img/iniciasesion.png'); 
    background-repeat: repeat; 
    background-size:  center;
    }
    .contenedor-login h2{
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 30px;
        color: #fff;
    }
    .contenedor-login{
    
        padding: 5px 0;
        width: 90%;
        height: 60%;
        background-color: rgba(31, 33, 37, 0.849);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center; 
        border-radius: 15px;
    }


}



